$black: #000000;
$white: #ffffff;


$background-black: #000000;
$background-primary: #ffffff;
$background-secondary: #dbdbdb;
$background-bright-blue: #3088fa;
$background-light-blue: #9ad6ff;
$background-dark-blue: #2e5587;
$background-sky-blue: #2afff8;
$background-dark-gray: #515151;
$background-medium-gray: #757575;
$background-light-gray:  #818181;
$background-lightest-gray:  #a7a7a7;
$background-dark-white:  #c5c5c5;
$background-bright-green: #00d50e;
$background-bright-pink: #ff3366;
$background-violet: #d54dff;
$background-orange: #ff963b;

$font-black: #000000;
$font-dark-gray: #515151;
$font-medium-gray:  #757575;
$font-light-gray:  #818181;
$font-lightest-gray:  #a7a7a7;
$font-white: #ffffff;
$font-medium-blue: #006ab4;
$font-bright-blue: #00b9ff;
$font-dark-blue: #2e5587;
$font-bright-green: #00d50e;
$font-bright-pink: #ff3366;
$font-error: #d11947;
$font-orange: #ff963b;
$font-link: #0030ca;


$shadow-color: rgba(0, 0, 0, 0.75);
$button-shadow-color: rgba(0, 0, 0, 0.16);

$transparent: 0.4;
$border-dark: rgba($black, $transparent);
