$header-height: calc(4rem);
$header-height-padding: calc(5rem);
$chart-container-height: calc(100vh - 8rem);
$container-height: calc(100vh - 4rem);

$spacing-tiny: 5px;
$spacing-medium: 10px;
$spacing-large: 15px;
$spacing-larger: 20px;
$spacing-largest: 25px;
$spacing-massive: 30px;
$spacing-50: 50px;
$spacing-100: 100px;
